<a href="https://colab.research.google.com/github/Jasper-Sergio-Jasperyuu/58013-Linear_Algebra/blob/main/Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A. Variable and Data Types

In [ ]:
x = 1
a,b = 0, -1
type(x)

y = 1.0
type(y)

x = float(x)
type(x)

s,t,u = "0", '1', 'one'
type(s)

s_int = int(s)
s_int

0

B. Arithmetic Operations

In [ ]:
a, b, c, d = 2.0, -0.5, 0, -32

#Addition
S = a+b
print(S)

# Subtraction
D = b-d
print(D)

#Multiplication
P = a*d
print(P)

#Division
Q = c/a
Q

1.5
31.5
-64.0

0.0

In [ ]:
## Exponentiation
E = a**b
print(E)
### Modulo
mod = d%a
mod

0.7071067811865476

0.0

C. Assignment Operations

In [ ]:
G, H, J, K = 0, 100, 2, 2
G += a
print(G)
H -= d
print(H)
J *= 2
print(J)
K **= 2
print(K)

2.0
132
4
4

D. Comparators

In [2]:
res_1, res_2, res_3 = 1, 2.0, "1"
true_val = 1.0
# Equality
res_1 == true_val
# Non-equality
res_2 != true_val
# Inequality
t1 = res_1 > res_2
t2 = res_1 < res_2/2
t3 = res_1 >= res_2/2
t4 = res_1 <= res_2
t1

False

E. Logical

In [4]:
res_1 == true_val

res_1 is true_val

res_1 is not true_val

p, q = True, False
conj = p and q
print(conj)

p, q = True, False
disj = p or q
print(disj)


p, q = True, False
nand = not(p and q)
print(nand)

p, q = True, False
xor = (not p and q) or (p and not q)
print(xor)

False
True
True
True

F.	Input and Output Operations

In [9]:
print("Hello World")

cnt = 1

string = "Hello World"
print(string, ", Current run count is:", cnt)
cnt += 1

print(f"{string}, Current count is: {cnt}")

sem_grade = 82.243564657461234
name = ""
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

w_pg, w_mg, w_fg = 0.3, 0.3, 0.4
print("The weights of your semestral grades are:\
\n\t{:.2%} for Prelims\
\n\t{:.2%} for Midterms, and\
\n\t{:.2%} for Finals.".format(w_pg, w_mg, w_fg))

x = input("enter a number: ")
x

name = input("Kimi no nawa: ")
pg = float(input("Enter prelim grade: "))
mg = float(input("Enter midterm grade: "))
fg = float(input("Enter finals grade: "))
#sem_grade = None #will create a formula for sem grade
sem_grade = (pg*.30 + mg*.30 + fg*.40)
print("Hello {}, your semestral grade is: {}".format(name, sem_grade))

Hello World
Hello World , Current run count is: 1
Hello World, Current count is: 2
Hello , your semestral grade is: 82.24356465746123
The weights of your semestral grades are:
	30.00% for Prelims
	30.00% for Midterms, and
	40.00% for Finals.
enter a number: 11
Kimi no nawa: Jasper
Enter prelim grade: 99
Enter midterm grade: 98
Enter finals grade: 99
Hello Jasper, your semestral grade is: 98.69999999999999

G. Looping Statements

In [10]:
## while loops
i, j = 0, 10
while(i<=j):
    print(f"{i}\t|\t{j}")
    i+=1

# for(int i=0; i<10; i++){
# printf(i)
# }

i=0
for i in range(10):
    print(i)

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10
0
1
2
3
4
5
6
7
8
9

H.	Flow Control

In [11]:
###Condition Statements
numeral1, numeral2 = 12, 12
if(numeral1 == numeral2):
     print("Yey")
elif(numeral1>numeral2):
     print("Hoho")
else:
     print("Aww")
print("Hip hip")

Yey
Hip hip

I. Functions

In [17]:
# void DeleteUser(int userid){
#     delete(userid);
# }

def delete_user (userid):
     print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
     print("Successfully deleted all users")
a = delete_user(123232)

Successfully deleted user: 123232