<a href="https://colab.research.google.com/github/Jasper-Sergio-Jasperyuu/58013-Linear_Algebra/blob/main/ReviewofPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [3]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [6]:
#This is a comment
print("Hello, world")

Hello, world

Python Variable

In [7]:
x = 1
a, b=0,-1
a, b, c=0, -1, 2

In [ ]:
b="Sally" #This is a type of string

Casting

In [8]:
b="Sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

Type() Function

In [9]:
x = 5
y = "John"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

"Double quotes" or 'Single' quotes

In [10]:
y="John"
y='John'

Case sensitive

In [11]:
a = 4
A = "Sally"
#A will not overwrite a

Multiple Variables

In [13]:
x, y, z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [16]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [17]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

In [20]:
#Other way
x = "Python is "
y = "Enjoying"
z = x + y
print(z)

Python is Enjoying

Arithmetic Operations

In [23]:
x = 5
y = 3
print(x + y)

x = 5
y = 3
sum = x + y
sum

8

8

Assignment Operators

In [24]:
a, b, c= 0,-1,6
c%=3
c

0

Comparison Operator and Logical Operators

In [25]:
a,b,c=0,-1,6
a>b and c>b

True

Identity Operators

In [29]:
a,b,c=0,-1,5
a is c

False

Bitwise Operators

In [40]:
a,b,c=0,-1,5
print(c<<1)
print(c>>1)

10
2